footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(69,69,69);
  text-align: center;
  height: max-content;

  .footer__logo{
    background: url("/img/footer-logo.svg") no-repeat;
    margin-top: 40px;
    width: 170px;
    display: inline-block;
    height: 70px;
  }

  .footer__operatorImage{
    width: 20px;
    height: 20px;
  }

  .footer__phonesTitle {
    color: rgb(246, 246, 245);
  }

  .footer__languages{
    align-self: center;
    color: rgb(246, 246, 245);
    cursor: pointer;
  }
}