.Modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .addLab{
     display: flex;
     flex-direction: column;
     width: 500px;
     justify-content: space-between;

     &__dates{
       padding-left: 20px;
     }

     &__blockTitle{
       font-weight: 600;
     }

     &__addBtn{
       margin-top: 10px;
     }
  }
}

.Overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}